[submodule "turtlewatch/libs/common_msgs"]
	path = turtlewatch/libs/common_msgs
	url = git@github.com:ros/common_msgs.git
[submodule "turtlewatch/libs/genpy"]
	path = turtlewatch/libs/genpy
	url = git@github.com:ros/genpy.git
[submodule "turtlewatch/libs/genmsg"]
	path = turtlewatch/libs/genmsg
	url = git@github.com:ros/genmsg.git
[submodule "turtlewatch/libs/std_msgs"]
	path = turtlewatch/libs/std_msgs
	url = git@github.com:ros/std_msgs.git
[submodule "turtlewatch/libs/ros_comm"]
	path = turtlewatch/libs/ros_comm
	url = git@github.com:ros/ros_comm.git
[submodule "turtlewatch/libs/ros"]
	path = turtlewatch/libs/ros
	url = git@github.com:ros/ros.git
[submodule "turtlewatch/libs/catkin"]
	path = turtlewatch/libs/catkin
	url = git@github.com:ros/catkin.git
[submodule "turtlewatch/libs/ros_comm_msgs"]
	path = turtlewatch/libs/ros_comm_msgs
	url = git@github.com:ros/ros_comm_msgs.git
